<div class="center">
    <div class="header">
        <label>Contact List</label>
    </div>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="display"  style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Details</th>
                </tr>
            </thead>
        </table>
    </div>
</div>